body {
  background-color: #f3f5fc;
}

main {
  display: flex;
  margin: 40px;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
  height: 860px;
}

.container {
  display: flex;
  flex-direction: column;
}

.logo {
  text-align: center;
  flex-basis: 10%;
}

#decoder-section {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-right: 40px;
  padding-left: 40px;
  padding-bottom: 20px;
  padding-top: 80px;
}

#text-area {
  margin-top: 40px;
  font-weight: 400;
  font-style: normal;
  width: 100%;
  line-height: 150%;
  resize: none;
  font-family: "Inter", sans-serif;
  font-size: 32px;
  border: none;
  box-shadow: none;
  outline: none;
  color: #0a3871;
  background-color: transparent;
}

#warning-text {
  padding-left: 15px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-right: 15px;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 21px;
  line-height: 18px;
  display: flex;
  justify-content: flex-start;
}

#warning-text::before {
  content: url(../assets/ico/exclamation.svg);
  margin-right: 5px;
}

.buttons {
  display: flex;
  justify-content: space-around;
}

.button {
  width: 328px;
  height: 67px;
  border-radius: 24px;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 19.36px;
  align-items: center;
  margin: 10px;
}

.crypt {
  background-color: #0a3871;
  color: white;
}

.decrypt {
  background-color: #d8dfe8;
  color: #0a3871;
}

::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #0a3871;
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #0a3871;
}

::-ms-input-placeholder {
  /* Microsoft Edge */
  color: #0a3871;
}

#decoded-section {
  flex-basis: 25%;
  justify-content: center;
  align-items: center;
  background-color: white;
  box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
  border-radius: 32px;
}

#decoded-message-result {
  align-content: center;
  width: 100%;
}

#decoded-message-result-text {
  visibility: hidden;
  box-sizing: border-box;
  padding-top: 40px;
  padding-left: 20px;
  padding-right: 20px;
  font-weight: 400;
  font-style: normal;
  line-height: 36px;
  width: 100%;
  resize: none;
  font-family: "Inter", sans-serif;
  font-size: 24px;
  border: none;
  box-shadow: none;
  outline: none;
  color: #495057;
  background-color: transparent;
}

.decoded-message {
  text-align: center;
}

#decoded-copy {
  display: none;
  background-color: transparent;
  color: #0a3871;
  margin-top: auto;
  margin-bottom: 20px;
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: transparent;
}

.media {
  width: 100%;
  display: flex;
  justify-content: center;
}

.media a {
  text-decoration: none;
  font-size: 50px;
  margin: 5px;
  color: #0a3871;
}
.signature {
  width: 100%;
  display: flex;
  justify-content: center;
  color: #0a3871;
}

.signature p {
  margin: 0px;
  padding: 0px;
  font-style: "Inter", "sans-serif";
  font-style: italic;
  font-size: 16px;
}

@media screen and (max-width: 768px) {
  body {
    min-height: 1174px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  main {
    height: 980px;
    display: flex;
    margin: 40px;
    flex-direction: column;
    justify-content: space-between;
    align-content: center;
    flex-wrap: nowrap;
  }

  .logo {
    box-sizing: border-box;
    text-align: left;
  }

  #decoder-section > div {
    margin-top: 40px;
  }

  .buttons {
    flex-wrap: nowrap;
  }

  #decoder-section {
    flex: 1;
    padding-right: 0px;
    padding-left: 0px;
    padding-bottom: 20px;
    padding-top: 0px;
  }

  #decoded-section {
    flex-basis: auto;
  }

  #decoded-message-result {
    display: none;
  }

  #decoded-img {
    display: none;
  }

  footer {
  }
}

@media screen and (max-width: 375px) {
  body {
    min-height: 700px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  main {
    height: 780px;
    display: flex;
    margin: 20px;
    flex-direction: column;
    justify-content: space-between;
    align-content: center;
    flex-wrap: nowrap;
  }

  .logo {
    box-sizing: border-box;
    text-align: left;
  }

  #decoder-section > div {
    margin-top: 40px;
  }

  #warning-text {
    font-size: 12px;
    line-height: 18px;
    margin: 0;
    padding: 0;
  }

  #warning-text::before {
    content: url(../assets/ico/exclamation.svg);
  }

  .buttons {
    flex-wrap: wrap;
  }

  .button {
    margin: 0px;
    margin-top: 40px;
  }

  #decoder-section {
    flex: 1;
    padding-right: 0px;
    padding-left: 0px;
    padding-bottom: 20px;
    padding-top: 0px;
  }

  #decoded-section {
    flex-basis: auto;
  }

  #decoded-message-result {
    display: none;
  }

  #decoded-img {
    display: none;
  }
}
