body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #f3f5fc;

  flex-grow: 1;
}

.container {
  margin: 40px;
  display: flex;

  flex-direction: column;
  justify-content: space-round;
}

.main {
  min-height: 100vh;
  height: 1024px;
  height: 100%;
  flex-direction: row;
}

.input {
  flex: 2;
  margin: 0px;
}

.logo {
  padding-left: 20px;
  padding-right: 20px;
}

.principal {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-right: 40px;
  margin-left: 180px;
  height: 100%;
}

::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #0a3871;
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #0a3871;
}

::-ms-input-placeholder {
  /* Microsoft Edge */
  color: #0a3871;
}

.text-input {
  margin-top: 80px;
}

#text-area {
  font-weight: 400;
  font-style: normal;
  width: 100%;
  max-height: 100%;
  line-height: 150%;
  resize: none;
  font-family: "Inter", sans-serif;
  font-size: 32px;
  border: none;
  box-shadow: none;
  outline: none;
  color: #0a3871;
  background-color: transparent;
}

.buttons {
  display: flex;
  justify-content: space-around;
}

.button {
  width: 328px;
  height: 67px;
  border-radius: 24px;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 19.36px;
  align-items: center;
  margin: 10px;
}

.crypt {
  background-color: #0a3871;
  color: white;
}

.decrypt {
  background-color: #d8dfe8;
  color: #0a3871;
}

.output {
  flex: 1;
  margin: 0px;
  height: 954px;
  width: 400px;
}

.aside {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  background-color: white;
  box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
  border-radius: 32px;
  height: 100%;
}

.aside-content {
  display: flex;
  flex: 2;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}

.aside-img {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.aside-message {
  display: flex;
  align-items: center;
  text-align: center;
  flex-direction: column;
}

.aside-button {
  visibility: hidden;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
}

.aside-copy {
  background-color: transparent;
  color: #0a3871;
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: transparent;
}
.media {
  width: 100%;
  display: flex;
  justify-content: center;
}

.media a {
  text-decoration: none;
  font-size: 50px;
  margin: 5px;
  color: #0a3871;
}
.signature {
  width: 100%;
  display: flex;
  justify-content: center;
  color: #0a3871;
}

.signature p {
  margin: 0px;
  padding: 0px;
  font-style: "Inter", "sans-serif";
  font-style: italic;
  font-size: 16px;
}
