body {
  background-color: #f3f5fc;
}

main {
  display: flex;
  margin: 40px;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.container {
  display: flex;
  flex-direction: column;
}

.logo {
  flex: 1;
  text-align: center;
  flex-basis: 10%;
}

#decoder-section > div {
  flex-basis: 50%;
  padding-right: 40px;
  padding-left: 40px;
  padding-bottom: 20px;
  padding-top: 40px;
}

#text-area {
  margin-top: 40px;
  font-weight: 400;
  font-style: normal;
  width: 100%;
  line-height: 150%;
  resize: none;
  font-family: "Inter", sans-serif;
  font-size: 32px;
  border: none;
  box-shadow: none;
  outline: none;
  color: #0a3871;
  background-color: transparent;
}

.buttons {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.button {
  width: 328px;
  height: 67px;
  border-radius: 24px;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 19.36px;
  align-items: center;
  margin: 10px;
}

.crypt {
  background-color: #0a3871;
  color: white;
}

.decrypt {
  background-color: #d8dfe8;
  color: #0a3871;
}

::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #0a3871;
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #0a3871;
}

::-ms-input-placeholder {
  /* Microsoft Edge */
  color: #0a3871;
}

#decoded-section {
  flex-basis: 25%;
  justify-content: center;
  align-items: center;
  background-color: white;
  box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
  border-radius: 32px;
}

.decoded-img {
  margin-top: 250px;
}

.decoded-message {
  text-align: center;
}

#decoded-copy {
  background-color: transparent;
  color: #0a3871;
  margin-top: auto;
  margin-bottom: 32px;
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: transparent;
}
.media {
  width: 100%;
  display: flex;
  justify-content: center;
}

.media a {
  text-decoration: none;
  font-size: 50px;
  margin: 5px;
  color: #0a3871;
}
.signature {
  width: 100%;
  display: flex;
  justify-content: center;
  color: #0a3871;
}

.signature p {
  margin: 0px;
  padding: 0px;
  font-style: "Inter", "sans-serif";
  font-style: italic;
  font-size: 16px;
}
